[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "modules/vendo-acl"]
	path = modules/vendo-acl
	url = git://github.com/vendo/acl.git
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/shadowhand/email.git
[submodule "modules/profilertoolbar"]
	path = modules/profilertoolbar
	url = git://github.com/Alert/profilertoolbar.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/assets"]
	path = modules/assets
	url = git://github.com/synapsestudios/kohana-assets.git
