
	<form action="{{event_add_action}}" method="post" class="panel" id="event_add">
		<fieldset>
			<legend>Create new event</legend>
			<ul>
				<li>
					<label for="title">Event title:</label>
					<input type="text" name="event[title]" id="title" value="{{values.title}}" {{#errors.title}}class="error" {{/errors.title}}/>
					{{#errors.title}}<p class="error_message">{{errors.title}}</p>{{/errors.title}}
				</li>
				<li>
					<label for="dungeon">Dungeon:</label>
					<select name="event[dungeon]" id="dungeon" {{#errors.dungeon}}class="error" {{/errors.dungeon}}>
{{#dungeon_list}}
						<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
{{/dungeon_list}}
					</select>
					{{#errors.dungeon}}<p class="error_message">{{errors.dungeon}}</p>{{/errors.dungeon}}
				</li>
				<li>
					<label for="time">Scheduled time:</label>
					<input type="time" name="event[time]" id="time" value="{{values.time}}" {{#errors.time}}class="error" {{/errors.time}}/>
				</li>
				<li>
					<label for="timezone">In timezone:</label>
					<select name="event[timezone]" id="timezone">
{{#timezone_list}}
						<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
{{/timezone_list}}
					</select>
					{{#errors.timezone}}<p class="error_message">{{errors.timezone}}</p>{{/errors.timezone}}
				</li>
				<li>
					<label for="date">Scheduled date:</label>
					<input type="date" name="event[date]" id="date" value="{{values.date}}" {{#errors.date}}class="error" {{/errors.date}}/>
				</li>
				<li>
					<label for="description">Event details:</label>
					<textarea name="event[description]" id="description" value="{{values.description}}" {{#errors.description}}class="error" {{/errors.description}}></textarea>
				</li>
				<li>
					{{{csrf}}}
					<input type="submit" value="Create event" />
				</li>
			</ul>
		</fieldset>
	</form>
		