	<form action="{{sign_up_link}}" method="post" id="sign_up_form" class="panel">
		<fieldset>
			<legend>Event details{{#edit_event}} <a href="{{edit_event}}">(edit this event)</a>{{/edit_event}}</legend>
			<table id="events">
				<thead>
					<tr>
						<td>Date</td>
						<td>Start time</td>
						<td>Event name</td>
						<td>Status</td>
						<td>Host</td>
						<td>Build</td>
					</tr>
				</thead>
				<tbody>
				{{#event}}
					<tr>
						<td>{{date}}</td>
						<td>{{time}}</td>
						<td>{{description}}</td>
						<td>{{status}}</td>
						<td><span title="{{host}}">{{hostas}}</span></td>
						<td>{{#url}}<a href="{{url}}">{{/url}}{{build}}{{#url}}</a>{{/url}}</td>
					</tr>
				{{/event}}
				</tbody>
			</table>
{{#signup}}
			<ul>
				<li>
					<label for="character">Attend as:</label>
					<select name="event[character]" id="character">
{{#characters}}
						<option class="{{profession}}" value="{{name}}">{{name}}</option>
{{/characters}}
{{^characters}}
						<option value="">You have no registered characters</option>
{{/characters}}
					</select>
				</li>
				<li>
					<label for="slot">For open role slot:</label>
					<select name="event[slot]" id="slot">
{{#role_list}}
						<option value="{{name}}">{{name}} {{#number}}({{number}} / {{total}} open){{/number}}{{^number}}(Stand-by){{/number}}</option>
{{/role_list}}
					</select>
					</li>
				<li>
					<label for="comments">Comments:</label>
					<textarea name="event[comment]" id="comments"></textarea>
				</li>
				<li>
					<fieldset class="reliability">
						<legend>Sign-up as:</legend>
						<label for="status_ready">Ready</label>
						<input type="radio" name="event[status]" id="status_ready" value="ready" checked="checked" />
						<label for="status_standby">Stand-by</label>
						<input type="radio" name="event[status]" id="status_standby" value="standby" />
					</fieldset>					
				</li>
			</ul>
			{{{csrf}}}
			<input type="submit" value="Sign up" />
{{/signup}}
		</fieldset>
		<h4>Currently signed up</h4>
		<ul>
		{{#attendees}}
			<li class="profession">{{name}} the {{profession}}</li>
		{{/attendees}}
		{{^attendees}}
			<li>Nobody!</li>
		{{/attendees}}
		</ul>
	</form>
	
{{#remove_event}}
<a href="{{remove_event}}">Cancel this event</a>
{{/remove_event}}
{{#withdraw}}
<a href="{{withdraw}}">Withdraw from this event</a>
{{/withdraw}}