							<div id="tabs">
								<ul>
									<li><a href="#attendees">Attendees ({{attendee_count}})</a></li>
									<li><a href="#standby">Standby ({{standby_count}})</a></li>
								</ul>
								<div id="attendees">
									<ul>
{{#attendees.active}}
										<li>
											<div class="player">
												<img class="profession" src="/media/img/prof_icons/{{profession}}_small.png" />
												<span class="name">{{name}}</span>
												{{#comment}}<a href="#">?</a>
												<ul><li><div class="comment">{{comment}}</div></li></ul>{{/comment}}
											</div>
											<div class="role">{{role}}</div>
										</li>
{{/attendees.active}}
{{^attendees.active}}
										<li>
											No ready attendees yet.
										</li>
{{/attendees.active}}

									</ul>
									{{#signup}}<a href="{{sign_up_link}}">Sign up for event</a>{{/signup}}
									{{#withdraw}}<a class="withdraw" href="{{withdraw}}">Withdraw from event</a>{{/withdraw}}
								</div>
								<div id="standby">
									<ul>
{{#attendees.standby}}
										<li class="{{profession}}">
											<div class="player">
												<img class="profession" src="/media/img/prof_icons/{{profession}}_small.png" />
												<span class="name">{{name}}</span>
												{{#comment}}<a href="#">?</a>
												<ul>
													<li><div class="comment">{{comment}}</div></li>
												</ul>{{/comment}}
											</div>
											<div class="role">{{role}}</div>
										</li>
{{/attendees.standby}}
{{^attendees.standby}}
										<li>
											No one on standby.
										</li>
{{/attendees.standby}}
									</ul>
									{{#signup}}<a href="{{sign_up_link}}">Sign up for event</a>{{/signup}}
									{{#withdraw}}<a class="withdraw" href="{{withdraw}}">Withdraw from event</a>{{/withdraw}}
								</div>
							</div> <!-- end tabs -->
							<div id="event_description">
{{#event}}
								<h6>{{title}}</h6>
								<p>{{description}}</p>
								{{#url}}<a class="build" href="{{url}}" target="_blank" title="Link to more information about {{build}}">Build: {{build}}</a>{{/url}}
								{{^url}}<a class="build_disabled" title="No additional information for {{build}}">Build: {{build}}</a>{{/url}}
								<a href="{{event_link}}" class="edit_event">Link to this event</a>
{{/event}}
								{{#edit_event}}<a class="edit_event" href="{{edit_event}}">Edit event</a>{{/edit_event}}
								{{#remove_event}}<a class="cancel_event" href="{{remove_event}}">Cancel event</a>{{/remove_event}}
							</div>
