
	{{#add_event}}
	<a href="{{add_event}}">Add new event</a>
	{{/add_event}}
	
	<select id="event_filters">
		<option value="">Filter event list:</option>
{{#filters.top}}		
		<option value="{{url}}">{{text}}</option>
{{/filters.top}}
		<optgroup label="Filter by dungeon">
{{#filters.dungeon}}		
		<option value="{{url}}">{{text}}</option>
{{/filters.dungeon}}
		</optgroup>
	</select>
	
	<table id="events">
		<thead>
			<tr>
				<td>Details</td>
				<td>Date</td>
				<td>Start time</td>
				<td>Event name</td>
				<td>Status</td>
				<td>Host</td>
				<td>Build</td>
			</tr>
		</thead>
		<tbody>
		{{#events}}
			<tr>
				<td><a href="{{details_link}}" class="event_details">Details</a></td>
				<td>{{date}}</td>
				<td>{{time}}</td>
				<td>{{title}}</td>
				<td>{{status}}</td>
				<td>{{host}}</td>
				<td>{{#url}}<a href="{{url}}">{{/url}}{{build}}{{#url}}</a>{{/url}}</td>
			</tr>
		{{/events}}
		{{^events}}
			<tr>
				<td colspan="7">No events scheduled at this time</td>
			</tr>
		{{/events}}
		</tbody>
	</table>
	
	<section id="event_data"></section>