
	<form id="user_search" action="{{user_search_action}}" name="user_search" method="get" class="panel">
		<fieldset>
			<input type="text" id="user_search" name="q" placeholder="Search for user..." />
		</fieldset>
	</form>