	<section id="dungeons">
		<h3>Dungeons</h3>
		<ul>
{{#dungeon_list}}
			<li>
				<div>
					<h4>{{name}}</h4>
				</div>
				<a class="delete" href="{{remove_url}}" title="Delete {{name}}">Delete</a>
				<a class="edit" href="{{edit_url}}"  title="Edit {{name}}">Edit</a>
			</li>
{{/dungeon_list}}
			<li class="button"><a href="{{dungeon_add_url}}">Add new dungeon</a></li>
		</ul>
	</section>