
	<table>
		<thead>
			<tr>
				<td colspan="2">Actions</td>
				<td>Name</td>
			</tr>
		</thead>
		<tbody>
{{#dungeon_list}}
			<tr>
				<td><a href="{{remove_url}}"><img src="/media/img/icons/page_delete.png" title="Remove {{name}}" /></a></td>
				<td><a href="{{edit_url}}"><img src="/media/img/icons/page_edit.png" title="Edit {{name}}" /></a></td>
				<td>{{name}}</td>
			</tr>
{{/dungeon_list}}
		</tbody>
	</table>

<a href="{{dungeon_add_url}}">Add new dungeon</a>
