	<section id="slots">
		<h3>Slots</h3>
		<a class="button" href="{{slot_add_url}}">Add new slot</a>
		<ul id="filter">
{{#filter_list}}
{{#slots}}
			<li><a href="?filter={{filter}}">{{letter}}</a></li>
{{/slots}}
{{^slots}}
			<li><a class="disabled">{{letter}}</a></li>
{{/slots}}
			
{{/filter_list}}
			<li><a href="{{slot_list_url}}">All</a></li>
		</ul>

		<section id="slot_list">
			<ul>

{{#slot_list}}
				<li>
					<div>
						<h4>{{name}}</h4>
						<h5>Professions: &nbsp;</h5>
						<p>{{professions}}</p>
					</div>
					<a class="edit" href="{{edit_link}}" title="Edit {{name}}">Edit slot</a>
				</li>
{{/slot_list}}

			</ul>
			
		</section>