
	<h3>Email sent</h3>
	
	<p>An email has been sent to the address that you provided during registration.  Please use the link provided in that email to verify your address so that we may allow you full use of this website.</p>
