	
	<h3>Email verification has not been completed.</h3>
	
	<p>To make full use of this website, you must verify your email address by using the link in the email that was sent upon your registration.  If you would like, we can <a href="{{send_route}}">resend the verification email</a>.</p>
