	<form id="register" action="{{action}}" method="post" class="panel">
		<fieldset>
			<legend>{{title}}</legend>
			{{#errors}}<div id="errors">{{errors}}</div>{{/errors}}
			<ul>
				<li>
					<label for="user_name">Username:</label>
					<input type="text" name="user[username]" id="user_name" autofocus="autofocus" />
				</li>
				<li>
					<label for="user_password">Password:</label>
					<input type="password" name="user[password]" id="user_password" />
				</li>
				<li>
					<label for="remember">Remember login:</label>
					<input type="checkbox" name="remember" value="TRUE" id="remember" checked="checked" />
				</li>
				<li class="button">
					{{{csrf}}}
					<input type="submit" value="Submit" />
				</li>
			</ul>
		</fieldset>
	</form>
{{#retrieval}}

	<ul id="recovery">
{{#retrieval_links}}
	<li><a href="{{url}}">{{text}}</a></li>
{{/retrieval_links}}
	</ul>
{{/retrieval}}