	<form action="{{action}}" method="post" class="panel">
		{{#errors}}<div class="error">{{{errors}}}</div>{{/errors}}
		{{#success}}<div class="success">{{{success}}}</div>{{/success}}
		<fieldset>
			<legend>Personal Information</legend>
			<ul>
				{{#user}}<li>
					<label for="user_name">Username:</label>
					<input type="text" name="user[username]" id="user_name" value="{{username}}" disabled="disabled" />
				</li>
				<li>
					<label for="user_email">Email address:</label>
					<input type="text" name="user[email]" id="user_email" value="{{email}}" />
				</li>
				<li>
					<label for="user_password">Password:</label>
					<input type="password" name="user[password]" id="user_password" />
				</li>
				<li>
					<label for="user_repeat_password">Repeat password:</label>
					<input type="password" name="user[password_confirm]" id="user_password_confirm" />
				</li>{{#profile}}
				<li>
					<label for="profile_first_name">First name:</label>
					<input type="text" name="profile[first_name]" id="profile_first_name" value="{{first_name}}" />
				</li>
				<li>
					<label for="profile_last_name">Last name:</label>
					<input type="text" name="profile[last_name]" id="profile_last_name" value="{{last_name}}" />
				</li>
				<li>
					<label for="profile_occupation">Occupation:</label>
					<input type="text" name="profile[occupation]" id="profile_occupation" value="{{occupation}}" />
				</li>
				<li>
					<label for="profile_favorite_game">Favorite video game:</label>
					<input type="text" name="profile[favorite_game]" id="profile_favorite_game" value="{{favorite_game}}" />
				</li>
				<li>
					<label for="profile_birthdate">Date of birth:</label>
					<input type="date" name="profile[birthdate]" id="profile_birthdate" placeholder="YYYY-MM-DD" value="{{birthdate}}" />
				</li>{{/profile}}
				{{{csrf}}}
			{{/user}}
			</ul>
		</fieldset>
		<input type="submit" value="Submit" />
	</form>