	<form id="register" action="{{action}}" method="post" class="panel">
		<fieldset>
			<legend>{{title}}</legend>
			<ul>
				<li>
					<label for="user_name">Username:</label>
					<input type="text" name="user[username]" id="user_name" value="{{values.username}}" {{#errors.username}}class="error" {{/errors.username}}/>
					{{#errors.username}}<p class="error_message">{{errors.username}}</p>{{/errors.username}}
				</li>
				<li>
					<label for="user_email">Email address:</label>
					<input type="text" name="user[email]" id="user_email" value="{{values.email}}" {{#errors.email}}class="error" {{/errors.email}}/>
					{{#errors.email}}<p class="error_message">{{errors.email}}</p>{{/errors.email}}
				</li>
				<li>
					<label for="user_password">Password:</label>
					<input type="password" name="user[password]" id="user_password" {{#errors._external.password}}class="error" {{/errors._external.password}}/>
					{{#errors._external.password}}<p class="error_message">{{errors._external.password}}</p>{{/errors._external.password}}
				</li>
				<li>
					<label for="user_repeat_password">Repeat password:</label>
					<input type="password" name="user[password_confirm]" id="user_password_confirm" {{#errors._external.password}}class="error" {{/errors._external.password}}/>
				</li>
				<li>
					<label for="profile_first_name">First name:</label>
					<input type="text" name="profile[first_name]" id="profile_first_name" value="{{values.first_name}}" {{#errors.first_name}}class="error" {{/errors.first_name}}/>
					{{#errors.first_name}}<p class="error_message">{{errors.first_name}}</p>{{/errors.first_name}}
				</li>
				<li>
					<label for="profile_last_name">Last name:</label>
					<input type="text" name="profile[last_name]" id="profile_last_name" value="{{values.last_name}}" {{#errors.last_name}}class="error" {{/errors.last_name}}/>
					{{#errors.last_name}}<p class="error_message">{{errors.last_name}}</p>{{/errors.last_name}}
				</li>
				<li>
					<label for="user_timezone">Time Zone:</label>
					<select name="user[timezone]" id="user_timezone">
					{{#timezone_list}}
						<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
					{{/timezone_list}}
					</select>
					{{#errors.timezone}}<p class="error_message">{{errors.timezone}}</p>{{/errors.timezone}}
				</li>
				<li>
					<label for="profile_birthdate">Date of birth:</label>
					<input type="date" name="profile[birthdate]" id="profile_birthdate" placeholder="YYYY-MM-DD" value="{{values.birthdate}}" {{#errors.birthdate}}class="error" {{/errors.birthdate}}/>
					{{#errors.birthdate}}<p class="error_message">{{errors.birthdate}}</p>{{/errors.birthdate}}
				</li>
					{{{csrf}}}
			</ul>
		</fieldset>
		<input type="submit" value="Submit" />
	</form>