<p>Thanks for registering.  Now, we ask that you complete the process by confirming your email address.  To do so, simply click the link below.  If your email program does not allow you to click links, you can simply copy and paste it into your browser's address bar.</p>

{{{link}}}

<p>Thanks!</p>
