	
	<form action="{{action}}" method="post" name="{{user_form_name}}" class="panel">
		{{#errors}}<div class="error">{{{errors}}}</div>{{/errors}}
		{{#success}}<div class="success">{{{success}}}</div>{{/success}}
		<fieldset id="user_profile">
			<legend>{{title}}</legend>
			<ul>
				<li>
					<label for="user_name">Username:</label>
					<input type="text" name="user[username]" id="user_name" value="{{user.username}}" />
				</li>
				<li>
					<label for="user_email">Email address:</label>
					<input type="text" name="user[email]" id="user_email" value="{{user.email}}" />
				</li>
				<li>
					<label for="user_password">Password:</label>
					<input type="password" name="user[password]" id="user_password" />
				</li>
				<li>
					<label for="user_password_confirm">Repeat password:</label>
					<input type="password" name="user[password_confirm]" id="user_password_confirm" />
				</li>
				<li>
					<label for="profile_first_name">First name:</label>
					<input type="text" name="profile[first_name]" id="profile_first_name" value="{{profile.first_name}}" />
				</li>
				<li>
					<label for="profile_last_name">Last name:</label>
					<input type="text" name="profile[last_name]" id="profile_last_name" value="{{profile.last_name}}" />
				</li>
				<li>
					<label for="user_timezone">Timezone:</label>
					<input type="text" name="user[timezone]" id="user_timezone" value="{{user.timezone}}" />
				</li>
				<li>
					<label for="profile_birthdate">Date of birth:</label>
					<input type="date" name="profile[birthdate]" id="profile_birthdate" placeholder="YYYY-MM-DD" value="{{profile.birthdate}}" />
				</li>
				{{{csrf}}}
			</ul>
		</fieldset>
		<fieldset id="user_roles">
			<table>
				<thead>
					<tr>
						<td>Assigned</td>
						<td>Role name</td>
						<td>Description</td>
					</tr>
				</thead>
				<tbody>
				{{#roles}}
					<tr class="{{role_stripe}}">
						<td><input type="checkbox" name="role[]" value="{{name}}" {{#owned}}checked="checked" {{/owned}}/></td>
						<td>{{name}}</td>
						<td>{{description}}</td>
					</tr>
				{{/roles}}
				</tbody>
			</table>
		</fieldset>
		<input type="submit" value="Submit" />
	</form>