
{{^count}}<p>You have no characters listed.</p>{{/count}}
{{#count}}
	<table>
		<thead>
			<tr>
				<td>Actions</td>
				<td>Name</td>
				<td>Profession</td>
			</tr>
		</thead>
		<tbody>
{{#character_list}}
			<tr>
				<td><a href="{{edit_url}}"><img src="/media/img/icons/page_edit.png" title="Edit {{name}}" /></a></td>
				<td>{{name}}</td>
				<td><img src="/media/img/prof_icons/{{profession}}.png" width="24" height="24" title="{{profession}}" /></td>
			</tr>
{{/character_list}}
		</tbody>
	</table>
{{/count}}

{{#character_add_link}}<a href="{{character_add_link}}">Add a new character</a>{{/character_add_link}}
{{^character_add_link}}<p>You may not add new characters at this time.</p>{{/character_add_link}}
