
{{^count}}<p>You have no characters listed.</p>{{/count}}
{{#count}}
	<ul>
{{#character_list}}		<li class="{{profession}}">{{name}}</li>
{{/character_list}}
	</ul>
{{/count}}

{{#character_add_link}}<a href="{{character_add_link}}">Add a new character</a>{{/character_add_link}}
{{^character_add_link}}<p>You may not add new characters at this time.</p>{{/character_add_link}}