<h3>Welcome to the RedditGW Signups Site OPEN BETA</h3>

<div id="news">

	<p>You should be able to do pretty much everything related to creating and managing events at this point.</p>
	<ul>
		<li>Create and manage your characters</li>
		<li>Create and manage group builds</li>
		<li>Create and manage events</li>
		<li>Sign-up for other people's events</li>
	</ul>
	
</div>