<h3>Welcome to the user registration module</h3>

<p>We currently have a few completed features:</p>
<ul>
	<li>User registration (soon, can be disabled via admin dashboard)</li>
	<li>User profile editing</li>
	<li>Admin dashboard</li>
	<li>Admin management of users and roles</li>
</ul>