/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: zerosp4c3
   ========================================================================== */

body {
	overflow:hidden; 		/* needed to eliminate scrollbars caused by the background image */
	padding:0;margin:0;	/* necesarry for the raster to fill the screen */
	height:100%;width:100%;

	font: 1em/1.25 Helvetica, Arial, sans-serif;
	color: #393939;
	text-align: center;		/* for centering the container */
}
 
#bgimg {
	position:absolute;
	z-index: -1;
}

#realbody {
	position: absolute;
	z-index: 5;						/* Place the container above the background image */
	overflow: auto;					/* restore scrollbars for the content */
	height: 100%;width: 100%;	/* Make the new body fill the screen */
}

.container {
	position: relative;
	/* background-color: blue; */
	background-image: url(../img/container_bg.png);
	margin: 0 auto;

	width: 756px;
	min-height: 100%;
	
	text-align: left;
}

/* Special div used to push the container to the bottom of the page */
.push {
	clear: both;
	height: 40px;
}

.masthead {
	background-image: url(../img/banner.png);
	background-position: top center;
	background-repeat: no-repeat;
	
	width: 756px;
	height: 170px;
	padding-top: 1px;			/* Hack for removing unexpected top spacing */
	margin-bottom: -1px;
	
	color: rgba(0,0,0,0);		/* Hide masthead text */
}

nav {
	background-image: url(../img/menubg.png);
	background-repeat: no-repeat;
	
	width: 100%;
	height: 45px;
	padding-left: 1px;
}

nav ul {
	position: relative;
}

nav ul, nav li {
	display: block;
	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li a:link, nav ul li a:visited {
	display: block;

	/* background-color: green; */
	background-image: url(../img/button_menu_separator.png);
	background-position: top right;
	background-repeat: no-repeat;

	height: 33px;		/* height adjusted for padding */
	padding: 12px 15px 0 15px;

	color: white;
	text-decoration: none;
	font-family: Helvetica World;
	font-weight: 700;
	font-size:.8em;
}

nav ul li a:hover, nav ul li a:active {
	color: red;
}

/* START CSS for dropdown menu
----------------------------------------------- */
nav ul li ul {
	position: absolute;
	display: none;
}

/* Dropdown under nested list */
nav ul li:hover ul {
	display:block;

	/* background-color:red; */
	background-image: url(../img/dropdown_bg.png);
	background-repeat: no-repeat;
	
	width:141px;
	height:141px;	/* height adjusted for padding-top */
	padding-top:12px;
	left: -6px;
	z-index:900;
}

nav ul li:hover ul li {
	clear:left;
}

nav ul li ul li a:link, nav ul li ul li a:visited {
	clear:left;
	position:relative;
	
	width:126px;
	height:24px;
	padding:10px 0 0 15px;
	
	z-index:1000;
	
/* 	border: 1px dotted red; */
/* 	background-color: rgba(0,0,255,.2); */
	background-image: none;
}

nav ul li ul li a:hover, nav ul li ul li a:active {
}
/* --------------------------------------
END CSS for dropdown menu */

h3 {
	font-family: Cronos Pro Display;
	padding: 10px;
	font-size: 1.6em;
	font-weight: 700;
	margin: 0;
}

section {
	display: block;
	width: 100%;
	clear: both;
}

/* START FILTER STYLES
--------------------------------------- */
section ul#filter {
	margin: 0 16px;
	padding: 0;
}

section ul#filter li {
	float: left;
	display: block;
	padding: 0 8px;
	font-size: .9em;
}

section ul#filter li a:link, section ul#filter li a:visited {
	text-decoration: none;
	font-family: Helvetica World;
	font-weight: 700;
	color: #313131;
}

section ul#filter li a:hover, section ul#filter li a:active {
	color: #a49898;
}
/* ---------------------------------
END FILTER STYLES */

/* START Slot List, Builds, Dungeons STYLES
--------------------------------------- */
section#slot_list ul, section#builds ul, section#dungeons ul {
	margin: 0 10px;
	padding: 0;
}

section#slot_list ul {
	padding: 20px 0 0;
}

section#slot_list ul li, section#builds ul li, section#dungeons ul li {
	display: block;
	margin: 10px 0;
	padding: 25px 30px 35px;
	
	width: 673px; 		/* width adjusted for padding */
	height: 38px;		/* height adjusted for padding */

	background-image: url(../img/slot_bg.png);
	border: 1px solid #d2d2d2;
}

section#builds ul li, section#dungeons ul li {
	position: relative;
}

section#slot_list ul li span.name {
	font-family: Cronos Pro Display;
	font-size: 1.6em;
	display: block;
}

section#slot_list ul li p {
	margin:0; padding: 0;
	font-family: Arial;
	font-size: .8em;
}

section#builds ul li span.name, section#dungeons ul li span.name {
	position:absolute; top:50%; height:1.6em; margin-top:-.8em;
	font-family: Cronos Pro Display;
	font-size: 1.6em;
}

section#builds ul li a:link, section#builds ul li a:visited {
	position:absolute; top:50%; height:1.2em; margin-top:-.6em;
	right: 35px;
	font-family: Cronos Pro Display;
	font-size: 1.2em;
	text-decoration: none;
	color: #313131;
}

section#builds ul li a:hover, section#builds ul li a:active {
	color: #a49898;
}

section#builds ul li a img {
	vertical-align: top;
	margin-left: 35px;
}

section#builds ul li.button, section#dungeons ul li.button {
	float: right;
	margin: 0; padding: 0;
	width: 153px;
	height: 44px;

	background-image: url(../img/add_build_button.png);
	background-repeat: no-repeat;
	border: none;
	text-align: center;
}

section#builds ul li.button a:link, section#builds ul li.button a:visited, 
section#dungeons ul li.button a:link, section#dungeons ul li.button a:visited {
	position: absolute; top: 50%; height: 0.8em; margin: -0.4em auto 0;
	right: 0;
	width: 153px;

	font-family: Helvetica World;
	font-size: 0.8em;
	font-weight: 700;
	text-transform:capitalize;
	text-decoration: none;
	color: #717171;
}

section#builds ul li.button a:hover, section#builds ul li.button a:active,
section#dungeons ul li.button a:hover, section#dungeons ul li.button a:active {
	color: red;
}

/* ---------------------------------
END Slot List, Builds, Dungeons STYLES */

/* START FIELDSET STUFF 
--------------------------------------- */
fieldset {
	font-family: Cronos Pro Display;
	border: none;
	padding: 0 20px;
}

fieldset legend {
	font-size: 1.6em;
	padding: 10px 0;
}

fieldset li {
	list-style-type: none;
}

/* addressing nested forms */
fieldset fieldset {
	margin: 0; padding: 0;
}

fieldset label, fieldset fieldset legend {
	font-size: 1em;
	font-weight: 600;
}

fieldset fieldset ul li {
	width: 140px;
	margin: 0; padding: 0;
	font-family: Arial;
	text-transform:capitalize;
}

/* right align checkboxes */
fieldset fieldset ul li input[type=checkbox] {
	margin-top: 4px;
	float: right;
}

fieldset fieldset label {
	font-weight: normal;
}

fieldset ul {
	padding: 0;
	margin: 0;
}

/* indent form items */
fieldset ul li {
	padding: 10px 0 0 40px;
}

/* unindent form submit buttons */
fieldset ul li.button {
	padding: 20px 0 40px 0;
}

/* Style input boxes on forms */
fieldset input[type=text], fieldset input[type=password], fieldset input[type=date] {	
	display: block;
	margin: 10px 0;

	width: 231px;			/* reduced width by 10px due to padding */
	height: 30px;			/* reduced height by 2 px due to border */
	padding-left: 10px;		/* indent text inside box */

	background-image: url(../img/form_input_bg.png);
	background-repeat: no-repeat;
	border: solid 1px #b2b2b2;
}

/* Style dropdown select on forms */
fieldset select {
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	display: block;
	margin: 10px 0;

	width: 243px;
	height: 36px;
	padding-left: 10px;		/* indent text inside box */

	background: transparent url(../img/form_select_bg.png) no-repeat;
	border: none;
}

/* Style for buttons on forms */
fieldset input[type=submit] {
	font-family: Adobe caslon Pro;
	font-size: 1em;
	color: white;

	border: none;
	background-image: url(../img/button.png);
	width: 121px;
	height: 54px;
}

/* Right aligned form links */
fieldset a:link, fieldset a:visited {
	font-family: Helvetica World;
	font-size: .9em;
	color: #313131;
	display: block;
	font-weight: 600;
	text-decoration: none;
	width: 241px;
	text-align: right;
}

fieldset a:hover, fieldset a:active {
	color: #a49898;
}
/* ---------------------------------
END FIELDSET STUFF */


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}